.nav-item.active .line {
    width: 5rem;
    background-color: #E1E8EE;
    transition: all 0.3s ease;
}

.nav-item.active p {
    color: #E1E8EE;
}

.autoShowEffect {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 15% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-text-first {
  opacity: 0;
  animation: fadeInText 1.5s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text {
  opacity: 0;
  animation: fadeInText 1.5s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
    .fade-in-text {
        opacity: 1;
        animation: none;
        animation-delay: 0s;
    }
}